<link rel="stylesheet" href="https://use.typekit.net/cuk6jtb.css">
If you'd like to use fonts in HTML email, use the @import link.
Fonts Added:
Shift Extralight
font-family: "shift", serif;
font-weight: 100;
font-style: normal;
Shift Extralight Italic
font-family: "shift", serif;
font-weight: 100;
font-style: italic;
Shift Light
font-family: "shift", serif;
font-weight: 200;
font-style: normal;
Shift Light Italic
font-family: "shift", serif;
font-weight: 200;
font-style: italic;
Shift Book
font-family: "shift", serif;
font-weight: 300;
font-style: normal;
Shift Book Italic
font-family: "shift", serif;
font-weight: 300;
font-style: italic;
Shift Medium
font-family: "shift", serif;
font-weight: 500;
font-style: normal;
Shift Medium Italic
font-family: "shift", serif;
font-weight: 500;
font-style: italic;
Shift Bold
font-family: "shift", serif;
font-weight: 700;
font-style: normal;
Shift Bold Italic
font-family: "shift", serif;
font-weight: 700;
font-style: italic;
Shift Black
font-family: "shift", serif;
font-weight: 900;
font-style: normal;
Shift Black Italic
font-family: "shift", serif;
font-weight: 900;
font-style: italic;